<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="container">
    <h1>Welcome to Our Platform</h1>
    <p>Salam <strong><%= name %></strong> 😊😊</p>
    <p>
      We are happy to have you on board. We can't wait to see what amazing
      things you’ll achieve here.
    </p>
    <p>
      If you have any questions or need support, feel free to reach out. We are
      always here to help you.
    </p>
    <p>Best Regards,</p>
    <p>The Team</p>

    <%- include("../partials/footer") %>
  </body>
</html>
